.dv1 {
    background-color: red;
    height: 50px;
    width: 50px;
    border: 2px solid green;
    margin-top: 100px;
}

.dv2 {

    background-color: black;
    height: 50vh;
    width: 50%;
    border: 10px dashed red;
    margin-left: 100px;
    margin-top: 100px;
}

/* atividade 2 */

.dv3 {

    background-color: rgb(234, 11, 241);
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.dv4 {
    background-color: #ff01af;
    height: auto;
    width: 250px;
    border: 20px dotted red;
}

.dv5 {
    background-color: aquamarine;
    height: 88%;
    width: 30%;
}

/* desafio */

.prim{

    background-color: #915C5C;
    width: 70%;
    height: 300px;


}

.bd{
    background-color: #9b9393;
}


.dv6 {
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dv7 {

    background-color: yellow;
    height: 50px;
    width: 30%;


}

.dv8 {
    background-color: rgb(11, 238, 11);
    color: white;
    font-size: 30px;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.dv9{

    background-color: rgb(221, 146, 7);
    height: 100px;
    width: 30%;
}